@model IEnumerable<GamingStore_Projectoti2.Models.Carrinho>
@{
    ViewBag.Title = "Saudacao";
}

<h2>🎮Obrigado pela sua compra🎮</h2>

@Html.ActionLink("Voltar ao Início", "Index","Home", null, new { @class = "btn btn-primary" })